.basliklar{
    font-weight: bold;
}

.detay-aciklama{
    min-height: 20px;
}
.basliklar{
    font-weight: bold;
}
.gr{
    width: 20px;
}
.btn-detay{
    float: right;
}
.btnler-detay{
    width: 80px;
    margin-left: 10px;
}
.btnler-detay2{
    width: 110px;
}