

.text{
  width: 300px;
  margin-bottom: 5px
  }
  .sol{
    float: right;
  }
  
  .ana_div {
      
    min-height: 500px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .div {
    
    float: left;
    display: inline-block;
    height: 200px;
    width: 300px;
    margin: 10px;
    color: #FFF;
  
  }
  
  .baslık{
    border-style: solid;
    border-top: 1px;
    border-color: #00A1FC;
    font-weight: bold;
    text-align: center;
  }
  .yazi{
    margin-top: 3px;
    font-weight: bold;
    color: black
  }
  
  .btn{
    width: 680px;
    margin-bottom: 10px;
    background-color: #00A1FC;
    color: white
  }
  .btn2{
    width: 680px;
    margin-bottom: 10px;
    background-color: red;
    color: white
  }
  
  .aciklama{
    width: 670px;
    height: 60px;
  }
  .faba{
    position: fixed; bottom:20px; right: 20px;
  
  }
  .btnler{
    width: 160px;
  }
  .evet{
    background-color: red;
    color: white;
  }
  .loka-orta{
    margin-left: 200px;
  }